---
export interface Props {
	dates: string;
	role: string;
	body: string;
}

const { dates, role, body } = Astro.props;
---

<li class="mb-8 pb-8 border-b-2" style="border-color: rgba(0,0,0,0.1);">
	<div class="text-[#475253] text-lg font-semibold">{dates}</div>
	<div class="mb-5 text-2xl font-extrabold">{role}</div>
	<div set:html={body}></div>
</li>

<style>
	li:last-child {
		@apply mb-0 pb-0 border-0;
	}
</style>